// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal Color Scheme
$m-blue: #121b2a;
$m-gold: #e5ae35;
$m-opal: #c0d2d4;
$m-cultured: #f3f6f7;
$m-silver: #b5b2b8;
$m-platinium: #eceaec;
