// Import page-specific CSS files here.
@import "home";
@import "sign_up";


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 180px; /* Stay at the top */
  left: 0;
  background-color: #121b2a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e5ae35;
  display: block;
  background-color: #121b2a;
}

.sidenav label {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e5ae35;
  display: block;
  background-color: #121b2a;
}

.dropdown-btn {
  font-size: 25px;
  background-color: #121b2a;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.dropdown-btn:hover {
  color: #e5ae35;
}

/* Style page content */
.main {
  width: 75%;
  float: right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #121b2a;
  padding-left: 8px;
}

.restaurant-card {
  color: #121b2a;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:10px;
}

.restaurant-card p {
font-size: 16px;
}

.index-container {
margin-top: 100px;
}

.checkbox {
 background-color: green;
}

