// Import page-specific CSS files here.
@import "home";
@import "sign_up";


.restaurant-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.restaurant-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.restaurant-card {
  padding: 16px;
  display: grid;
  grid-template-columns: auto;
  text-decoration: none;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 240px;
  left: 30px;
  background-color: #121b2a;
  padding-top: 20px;
}


.tasting {
  text-decoration: none;
  color: #e5ae35;
  display: block;
  background-color: #121b2a;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:10px;
  width: 260px;
  top: 180px;
  left: 30px;
  background-color: #121b2a;
  padding-top: 20px;
  position:fixed;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e5ae35;
  display: block;
  background-color: #121b2a;
}

.reset p {
  text-decoration: none;
  font-size: 15px;
  color: #e5ae35;
  background-color: #121b2a;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.dropdown-btn:hover {
  color: #e5ae35;
  padding-left:25px;
}

/* Style page content */
.main {
  width: 75%;
  float: right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #121b2a;
  padding-left: 8px;
}

.restaurant-card {
  color: #121b2a;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:10px;
  width:230px;

}

.restaurant-card p {
font-size: 16px;
}

.index-container {
margin-top: 100px;
}

.category_options {
color: #e5ae35;
}

.dietary_options {
color: #e5ae35;
}

.simple_form {
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 10px 10px;
  }
}

input {
  &.check_boxes {
    margin-left: -10px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

