
.restaurant-info p{
 font-size: 10px;
}

.bottom-container {
  display: flex;
  position: relative;
  margin-top: 60px;
}

.tasting-menu {
  height: 400px;
}

.btn-dish {
  color: #4A4A4A;
  background-color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.btn-dish:hover {
  opacity: 1;
  font-weight: bold;
}

.card-trip-pricing{
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
  text-align: center;
}

.btn-price {
  background-color: $m-blue;
  color: white;
  border-radius: 50px;
  padding: 7px 0px;

}

.btn-add-basket {
  position: absolute;
  left: 70px;
  bottom: 60px;
  text-align: center;
  color: white;
  background-color: $m-blue;
  font-size: 15px;
  border-radius: 8px;
  text-decoration: none;

}

.card-dish img{
border-radius: 10px 10px 0px 0px;
}

.tasting_description li {
list-style-type: none;
}

.wine_description li {
list-style-type: none;
}

.btn-wine {
  color: #440A18;
  background-color: white;
  border: none;
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
}

.tasting_description h1 {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  text-align: center;
}

.wine_description h1 {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  text-align: center;
}

.tasting-items {
  margin-top: 40px;
text-align: center;
}

.tasting_description {

}

.wine_description {
  border-left: 2px solid $m-blue;
  height: 400px;
}

.btn-gold {
  border-radius: 8px;
  text-decoration: none;
  background-color: #e5ae35;
  color: $m-blue;
  padding: 7px 15px;
  position: absolute;
  bottom: 50px;
  left: 120px;
}

#new_order {
color: white;
}

.slick-arrow {
  color: black;
}

.meal_category {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  text-align: center;
}

// .tasting_img {
//
// }

// .wine_img {
//
// }


.bottom-container h2 {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  text-align: center;
  font-size: 40px;


}

.menu-title h3 {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  font-size: 25px;
  margin-left: 30px;
}

.alacarte_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn-white {
  border-radius: 50px;
  text-decoration: none;
  color: $m-blue;
  background-color: $m-gold;
  font-family: 'Playfair Display', serif;
  color: #121b2a;
  padding: 7px 0px;
  position: absolute;
  top: -15px;
  left: 150px;
}

.link_to_modal {
  position: absolute;
  bottom: 45px;
  right: 75px;
  color: white;
  text-align: left;
}

.card-dish-infos p {
  color: white;
  position: absolute;
  top: 45px;
  right: 75px;
}

.card-dish-infos  {
  height: 85px;
}








