
.preparing {
  background-color: #e5ae35;
  margin: 8vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;




    width: 70vw;
    background: #e5ae35;
    border-radius: 5px;

    h4 {
      font-size: 25px;
      margin: 0 auto;
    }
}

.spotify {
    margin: auto;
    padding: 5vh;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;



    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: left;
}
.basket {
  padding: 5vh;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;



    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: left;
}
.instruction {
  background: white;
  padding: 4vh;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;



       min-height: 200px;
    width: 50vw;
    margin: 80px auto;
    border-radius: 5px;
    text-align: left;
    font-size: 40px;
}

.new-color {
  margin-top: 5px;
}
.loader {

  text-align: center;
  padding-bottom: 20px;
}

.wineglass {
  height: 36px;
  position: relative;
}
.wineglass:after {
  content: '';
  position: absolute;
  top: 47px;
  left: 5px;
  width: 20px;
  height: 5px;
  background: #121b2a;
  box-shadow: 0 0 1px #121b2a;
}
.top {
  background: #121b2a;
  width: 30px;
  height: 36px;
  border-radius: 0 0 36px 36px;
  box-shadow: 0 0 1px #121b2a;
}
.top:before {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(transparent 50%, rgb(135,1,3) 50%);
}
.left .top:before {
  animation: rotate2 2s linear infinite;
}
.right .top:before {
  animation: rotate1 2s linear infinite;
}
.top:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 12px;
  width: 6px;
  height: 13px;
  background: #121b2a;
  box-shadow: 0 0 1px #121b2a;
}
.left {
  display: inline-block;
  margin-right: 10px;
  animation: rotate1 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
.right {
  display: inline-block;
  animation: rotate2 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
@keyframes rotate1{
  0% {transform: rotate(0deg);}
  50% {transform:rotate(22deg);}
}
@keyframes rotate2{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(-22deg);}
}
.ul1 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 25px;
  position: relative;
  opacity: 0;
  animation: 2s fadeInUp infinite linear 2s;
}
.li1 {
  width: 6px;
  height: 15px;
  background: #121b2a;
  position: absolute;
  box-shadow: 0 0 1px #121b2a;
  transform-origin: bottom;
}
.li1:nth-child(1) {
  left: 26px;
  bottom: 5px;
  transform: rotate(-35deg);
}
.li1:nth-child(2) {
  left: 34px;
  bottom: 8px;
}
.li1:nth-child(3) {
  left: 42px;
  bottom: 5px;
  transform: rotate(35deg);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scaleY(1);
  }

  33% {
    opacity: 1;
    transform: scaleY(1.4);
  }
  64% {
     opacity: .1;
     transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(.3);
  }
}

.glow {
  font-size: 80px;
  color: #121b2a;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #121b2a, 0 0 40px #121b2a, 0 0 50px #121b2a, 0 0 60px #121b2a, 0 0 70px #121b2a;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e5ae35, 0 0 40px #e5ae35, 0 0 50px #e5ae35, 0 0 60px #e5ae35, 0 0 70px #e5ae35, 0 0 80px #e5ae35;
  }
}




.navicon {
  width: 100%;
  background: transparent;
  margin: 80px auto 40px;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  transition: linear 0.5s all;
  &:before,
  &:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 3px;
    left: 0;
    transition: 0.8s ease;
    width: 45px;
  }
  &:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
  }
  &:after {
    position: absolute;
    top: 28px;
  }
  &--active {
    margin-top: 20px;
    transition: linear 0.5s all;
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 15px;
      transform: rotate(225deg);
    }
    &:after {
      top: 15px;
      transform: rotate(315deg);
    }
  }
}

.toggle {
  display: block;
  margin: 20px auto;

  background-color: #121b2a;
  padding: 15px;
  display: block;
  opacity: 0;
  transition: ease-in 0.5s all;
  transform: translateY(-200%);
  min-width: 320px;
  &--active {
    display: block;
    opacity: 1;
    transition: ease-in 0.5s all;
    transform: translateY(0);
  }
  &__menu {
    margin-bottom: 25px;
    li {
      width: 25%;
      display: block;
      margin: 10px auto;
      a {
        text-decoration: none;
        color: #000;
        display: block;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: linear 0.5s all;
        font-weight: 500;
        padding: 5px 0;
        span {
          text-transform: lowercase;
        }
        &:hover {
          color: #db5523;
          border-bottom: 2px solid #db5523;
          transition: linear 0.5s all;
          transform: scale(1.15);
          font-weight: 700;
        }
      }
    }
  }
}
