<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

 <% @orders.each do |order| %> 
  <div><%= order.created_at.strftime('%A %d %B at %I:%M%p') %> - <%= order.restaurant.name %></div>
  <% a = [] %>
  <% order.dish_orders.each do |dish_order| %>
    
    <% a << dish_order.dish.name %>
  <% end %>
  
    <% b = Hash.new(0) %>
    <% a.each do |v| %>
      <% b[v] += 1 %>
    <% end %>
    
    <% b.each do |k,v| %>
    <div> <%= "#{v} x #{k}"  %> </div>
    <% end %>
    <div> Total: £<%= order.total_cost_cents %></div>
    <% end %>
    
  
