<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3596688/pexels-photo-3596688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-12">
      <h1>Bringing restaurants to your living room</h1>
      </div>
      <div class="col-12">
      <p >Find all the restaurants in your area.</p>
      </div>
      <div class="col-12">
      <div class="container">
       <form class="form-inline">
         <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
         aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
       </form>
       </div>
      </div>
    </div>
  </div>
</div>

