  <video id="background_video" loop muted></video>
  <div id="video_cover"></div>
  <div id="overlay"></div>


<div class="banner" >
  <div class="box">
    <h1 class="col-lg-12 text-center">Bringing restaurants to your living room</h1>
    <p class="col-lg-12 text-center">Find all the restaurants in your area.</p>
     <div class="col-lg-12" >

      <div class="search-container">
      <div class="search-wrapper text-center">
        <p>Enter your address</p>
        <%= form_tag restaurants_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your Restaurants", id: "restaurant_address"
          %>
          <%= submit_tag "Search", class: "btn btn-primary my-2" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

