  <video id="background_video" loop muted></video>
  <div id="video_cover"></div>
  <div id="overlay"></div>


<div class="banner" >
    <div class="container">
    <div class="row">
  <div class="box">
      <div class="search-container col-lg-12 align-self-center">
      <div class="search-wrapper text-left pt-3">
        <h1 class="col-lg-12 text-center">Bringing restaurants to your living room</h1>
        <p class="col-lg-12 text-left py-2">Michelin star on the palm of your hand.</p>
        <div class="col-lg-12 py-2 shadow-sm" >
        <%= form_tag restaurants_path, method: :get do %>
          <%= text_field_tag "search[query]",
          params[:query],
          class: "form-control form-control-info",
          placeholder: "Search for a restaurant or enter an address", id: "restaurant_address"
          %>
          <%= submit_tag "Search", class: "btn-lg btn-primary mt-4" %>
        <% end %>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

