#container {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}

// #video_cover {
//   position: absolute;
//   width: 100%; height: 100%;
//   background: url('https://vjs.zencdn.net/v/oceans.png') no-repeat;
//   background-size: cover;
//   background-position: center;
// }

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
}

#main_content {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color:rgba(1,1,1,0.8);
  padding:10px 10px 50px 10px;
  /* Vertical center */
  top: 50%;
  transform: translateY(-50%);
}