// .home-banner {
//   background-image: url('https://images.pexels.com/photos/3596688/pexels-photo-3596688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
//   object-fit: cover;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.show_banner {
  background-size: cover;
  background-position: center;
  background-color: $m-blue;
  padding-left: 10%;
  background-repeat: no-repeat;
  height: 15vh;
}

.show_banner h1 {
  margin: 0;
  color: $m-gold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.show_banner p {
  font-size: 20px;
  color: $m-platinium;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
