
.container_all{
  display: flex;
  position: relative;
  margin-top: 16px;
  grid-template-columns: 3fr 1fr ;
  grid-gap: 16px;

}

.restaurant-cart{
  position: sticky;
  top: 200px;
  width: 30vw;
  height: 40vh;
  border-style: solid 2px gray;
  overflow: hidden;
  background-color: #f3f6f7;
 background-color: #f3f6f7;
 background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c0d2d4' fill-opacity='0.44'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
  margin-left: 50px;
  border-radius: 5px;
}

.restaurant-cart h4 {
  font-family: 'Playfair Display', serif;
  color: $m-blue;
  text-align: center;
  font-size: 30px;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 16px;
}

.card-dish-tasting {
  overflow: hidden;
  background: white;
  height: 400px;
  width: 15vw;
  padding: 10px;
  margin: 10px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dish-tasting > img {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.card-dish {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  background-color: $m-blue;
  border-radius: 10px;
  padding-bottom:10px;
}

// .card-dish :hover {
//   transform:scale(1.1);
// }

.card-dish > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-dish h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-dish p {
  font-size: 12px;
  opacity: .7;
  padding-left: 10px;
}


.card-dish .card-dish-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dish-infos .card-dish-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-result {
  overflow: hidden;
  height: 160px;
  background: white;
  display: flex;
  align-items: center;
  border: 6px, dotted, black;
  padding-bottom: 2vh;
  margin-top: 2vh;
  padding-right: 2vh;
}

// .card-result:hover {
//   padding: 3px;
//   cursor: pointer;
// }


.card-result img {
  height: 100%;
  width: 30vh;
  object-fit: cover;
  margin: 2vh;

}

.card-result h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-result a {
  text-decoration: none;
}

.a{
  text-decoration: none;
}

.card-result p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-result .card-result-infos {
  padding: 0px;
}

.card-result-infos {
  display: flex;
  justify-content: space-between;

.card-produc-infos{
  width: 100%;
}
}
.product-text {
  width: 100%;
  height: 80%;
}

.product-text p {
  padding-left: 16px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.restaurant-cards {
  width: 50vw;
  position: relative;
}

.alacarte_cards {
  display: flex;
  padding: 20px;
}

.bottom-container {
 position: absolute;
}


