.navbar-lewagon {
  justify-content: space-between;
  background: #121b2a;
  background-color: transparent;
  transition: 0.8s background-color ease;
  padding-top: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.new-font {
  font-family: 'Playfair Display', serif;
  color: #e5ae35;
  padding-left: 20vh;
  font-size: 50px;
}

.navbar-fixed-top.scrolled {
  background-color: #121b2a  !important;
  transition: background-color 700ms linear;
}

.btn-new {
  border-radius: 8px;
  text-decoration: none;
  background-color: #e5ae35;
  color: #121b2a;
  padding: 15px 32px;
}

.btn-new:hover {
  text-decoration: none;
  background-color: #121b2a;
  color: #e5ae35;
  transition: 0.3s;
}

@media(max-width: 768px) {
 .new-font{
   padding-left: 0;
 }
}