
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: $m-silver;
  padding-left: 0px;
  margin-top: 30px
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: 400;
  color: $m-silver
}

#progressbar #step1:before {
  content: "1";
  color: #fff;
  width: 29px;
  margin-left: 15px !important;
  padding-left: 11px !important
}

#progressbar #step2:before {
  content: "2";
  color: #fff;
  width: 29px
}

#progressbar #step3:before {
  content: "3";
  color: #fff;
  width: 29px;
  margin-right: 15px !important;
  padding-right: 11px !important
}

#progressbar li::before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: $m-silver;
  border-radius: 50%;
  margin: auto
}

#progressbar li::after {
  content: '';
  width: 121%;
  height: 2px;
  background: $m-silver;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: 0
}

#progressbar li:nth-child(2):after {
  left: 50%
}

#progressbar li:nth-child(1):after {
  left: 40%;
  width: 95%
}

#progressbar li:nth-child(3):after {
  left: 22% !important;
  width: 40% !important
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: $m-blue;
}

#progressbar li {
  color: $m-blue
}

.pro-container{
  width: 35%;
  
}




@media(max-width: 768px) {
  .pro-container{
    width: 100%;
    
  }

  .pro-col{
    padding: 0;
  }
}
