.restaurant-card {
  height: 320px;
  color: #446484;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  img {
    border-radius: 5px 5px 0 0;
  }
  .fa-star {
    color: #f2a339;
  }
}

.restaurant-card:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.restaurant-card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.restaurant-card-container {
  padding: 2px 16px;
}

.restaurant-card-dietary_and_price {
}

.property {
  p {
    margin-right: 8px;
  }
}

.restaurant-card-rating {
  margin-bottom: 8px;
  h7 {
  margin-left: 24px;
  }
}


// flag
// position: relative
// top: -240 px
