<div class="row m-0">
  <div class="left-col col-6 p-5">
    <h4 class="text-info mt-3 pt-3">Leave us a Review</h4>
    <div class="form-top">
      <h5 class="text-muted"></h5>

        <%= simple_form_for [@restaurant, @review] do |f| %>
              <%= f.input :name, label: false, placeholder: 'Your name' %>
              <%= f.input :content, type: "text" %>

            <%= f.submit 'Submit review', class: 'btn btn-secondary' %>
        <% end %>
        </div>
      </div>
      <div class="right-col col-6 vh-100"></div>
    </div>

